<!DOCTYPE html>
<html lang="ro-RO">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local temperature</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="shortcut icon" type="image/png" href="/static/favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/js/script.js"></script>
</head>

<body>
    <header>
        <p id="page_title">Local temperature</p>
    </header>

    <nav>

    </nav>

    <main>
        <article>
            <p id="local_temperature">Temperature: {{ temperature }}</p>
            <p id="local_humidity">Humidity: {{ humidity }}</p>
            <p id="local_time"></p>
            <button class="button" onclick="powerLedOff()">Disable led</button>
            <button class="button" onclick="powerLedOn()">Power led</button>
            <button class="button" onclick="getTemperatureValue()">Update data</button>
        </article>
    </main>

    <footer>
        <p>&copy;Flask web application - Temperature sensor</p>
    </footer>
    <script>
        getCurrentTime();
        setInterval(getCurrentTime, 1000);
    </script>
</body>

</html>