body {
    background-color: #ccc;
    overflow-x: hidden;
}

#page_title {
    text-align: center;
    font-size: 48px;
    font-family: 'Signika', sans-serif;
    color: #ff4411;
}

footer {
    position: sticky;
    width: 100%;
    float: left;
    background-color: rgba(255, 99, 71, 0.5);
    margin-top: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border-radius: 10px;
}

main {
    border-radius: 10px;
    width: 50%;
    height: auto;
    background-color: #f1f1f1;
    padding: 10px;
    margin: 1px;
}

article>p {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    margin: 5px;
}