<!DOCTYPE html>
<html lang="ro-RO">

<head>
    <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Local temperature</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "tempsens/css/style.css" %}">
    <link rel="shortcut icon" type="image/png" href="{% static "tempsens/favicon.ico" %}">
</head>

<body>
    <header>
        <p id="page_title">Local temperature</p>
    </header>

    <nav>

    </nav>

    <main>
        <article>
            <p id="local_temperature">Temperature: {% if temperature %} {{ temperature }} {% endif %} </p>
            <p id="local_temperature">Humidity:{% if humidity %} {{ humidity }} {% endif %} </p>
            <p id="local_temperature">Time:{% if local_time %} {{ local_time }} {% endif %}</p>
        </article>
    </main>

    <footer>
        <p>&copy;Django web application</p>
    </footer>
</body>

</html>