<!DOCTYPE html>
<html lang="ro-RO">
{% load static %}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local temperature</title>
    <link rel="stylesheet" type="text/css" href="{% static "tempsens/css/style.css" %}">
    <link rel="shortcut icon" type="image/png" href="{% static "tempsens/favicon.ico" %}">
    <script src="{% static "tempsens/js/script.js" %}" ></script>
</head>

<body>
    <header>
        <p id="page_title">Local temperature</p>
    </header>

    <nav>

    </nav>

    <main>
        <article>
            <p id="local_temperature">Temperature: {% if temperature %} {{ temperature }} {% endif %} </p>
            <p id="local_humidity">Humidity:{% if humidity %} {{ humidity }} {% endif %} </p>
            <p id="local_time">Time:{% if local_time %} {{ local_time }} {% endif %}</p>
            <form action="/tempsens/disable_led" method="post">
                <input type="submit" value="Button">
            </form>
        </article>
    </main>

    <footer>
        <p>&copy;Django web application - Temperature sensor</p>
    </footer>
    <script>
        setInterval(getCurrentTime, 1000);
    </script>
</body>

</html>